body {
    background-color: rgb(253, 251, 251);
    margin: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}

nav {
    background-color: aliceblue;
    padding-right: 3%;
    margin: 5px;
    color: black;
}

.barra-de-navegacao {
    display: inline-block;
}
 
img {
    margin-top: 150px;
    margin-left: 100px;
    border-radius: 50%;
    position: absolute;
}

ol {
    display: inline-block;
}

.listas-licoes {
    background-color: gray;
    padding-left: 10px;
    width: 350px;
    display: inline-block;
    margin: 10px 30px 0px 30px;
    letter-spacing: 1px;
    line-height: 20px;
    color: white;
    position: absolute;
    left: 0%;
    top: 55%;
}

.licoes-a-aprender {
    display: inline-block;
    color: white;
}

main {
    display: inline-block;
}

p {
    padding: 0px 0px 0px 10px;
    display: inline-block;
}

.lado-esquerdo {
    background-color: gray;
    width: 440px;
    height: 230px;
    display: inline-block;
    margin-left: 20px;
    letter-spacing: 1px;
    line-height: 17px;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 30%;
    top: 57%;
}

.lado-direito {
    background-color: gray;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    display: inline-block;
    margin: 0px 0px 0px 50px;
    color: white;
    letter-spacing: 1px;
    line-height: 17px;
    position: absolute;
    top: 26%;
    right: 1%;
    z-index: 1;

}

table {
    position: absolute;
}

footer{
    position: absolute;
}

.descricao-sobre-mim{
    /* background-color: aqua; */
    width: 250px;
    height: 200px;
    margin-left: 20px;
    position: relative;
    top: 50%;
    text-align: center;
}